<div id="[[componentId]]" class="NodeSettingsModalComponent [[if classNames]][[classNames]][[endif]]">
    <div class="FlexColumn" style="align-items: center;">
        <h2>Node Settings</h2>
        <button class="DangerButton" onclick="[[this]].deleteNode();">De-register Node</button>
    </div>
</div>
